<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      <img id = "logo" src="../../assets/Tinder.png">
    </ion-title>
    <a slot="end" (click)="cerrar()"> Close</a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img id="imagen" src="../../assets/{{usuario.imagen}}">
    <ion-card-header>
      <ion-card-title>
        {{usuario.nombre}} {{usuario.apellido}} | {{usuario.edad}} 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{usuario.descripcion}}
    </ion-card-content>
  </ion-card>

</ion-content>