<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      <img id = "logo" src="../../assets/Tinder.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="../../assets/{{usuario.imagen}}">
    <ion-card-content>
      <ion-card-title>
        {{usuario.nombre}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <button (click)="getlike()">Ver Me gustas</button>

  <ion-card *ngFor="let user of usuarios">
      <img src="../../assets/{{user.imagen}}">
      <ion-card-content>
        <ion-card-title>
          {{user.nombre}}
        </ion-card-title>
      </ion-card-content>
  </ion-card>

</ion-content>
