#logo {
    width: 30px;
}

ion-card {
    padding: 10px;
}

#botones {
    margin: 0px auto;
    width: 48%;
}

#like{
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}

#dislike{
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
}