<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      <img id = "logo" src="../../assets/Tinder.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor">
    <ion-card>
      <img id="imagen" src="../../assets/{{usuario.imagen}}">
      <ion-card-content>
        <ion-card-title (click)="ver()">
          {{usuario.nombre}} | {{usuario.edad}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    
    <div id="botones">
      <button id="like" (click)="Like()"><img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-heart-valentines-day-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-5.png"/></button>
      <button id="dislike" (click)="Dislike()"><img src="https://img.icons8.com/stickers/60/000000/x.png"/></button>
    </div>
  
  </div>
</ion-content>